<head>
        <title> Data Owner </title>
</head>

<body>
        <form id="allcars" method="get" action="/api/txn/all">
                <input type="submit" value="QueryALlCars">
        </form>
        <br>
        <form id="form_id" method="post">
                <label>Search for A Txn</label>
                <input type="text" id="name" placeholder="Pointer">
                <input type="button" value="submit" onclick="myfunc()">
        </form>
        <script type="text/javascript">
                function myfunc() {
                        var x = document.getElementById("name").value;
                        document.getElementById("form_id").action = "/api/txn/query/" + x;
                        document.getElementById("form_id").submit();
                }
        </script>

        <form id="create" method="post" action="/api/txn/create/token">
                <label>Create Token</label>
                <input type="text" name="key" placeholder="Data to be tokenized">
                <input type="text" name="uid" placeholder="UserID">
                <input type="text" name="limit" placeholder="Limit">
                <input type="submit" name="button" value="Create">
        </form>
        <form id="ipfs" method="post" action="/api/txn/create/ehr">
                <label>Add EHR to ipfs and commit transaction</label>
                <input type="text" name="data" placeholder="Data">
                <input type="submit" name="button" value="IPFS">
        </form>
        <form id="chOwn" method="post">
                <label>Change Permission</label>
                <input type="text" id="id" name="token" placeholder="Token ID">
                <input type="submit" name="button" value="Revoke" onclick="myfunc2()">
        </form>

        <script type="text/javascript">
                function myfunc2() {
                        var x = document.getElementById("id").value;
                        document.getElementById("chOwn").action = "/api/permission/" + x;
                        document.getElementById("chOwn").submit();
                }
        </script>
        <form id="extLim" method="post">
                <label>Extend Limit</label>
                <input type="text" id="tkid" name="token" placeholder="Token ID">
                <input type="text" id="id1" name="limit" placeholder="Added Time">
                <input type="submit" name="button" value="Extend" onclick="myfunc3()">
        </form>
        <script type="text/javascript">
                function myfunc3() {
                        var x = document.getElementById("tkid").value;
                        document.getElementById("extLim").action = "/api/permission/extend/" + x;
                        document.getElementById("extLim").submit();
                }
        </script>

</body>